<br>
<br>
<div class='page-header'>
<h4>Registration Done Already!</h4>
<body>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Electives Selected by Students</div>
  <table class="table">
  <thead>
    <tr>
      <th>Registration Number</th>
      <th>Elective 1</th>
      <th>Elective 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @Elective.each do |elective| %>
      <tr>
        <td><%= elective.regno %></td>
        <td><%= elective.elec1 %></td>
        <td><%= elective.elec2 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</body>
</div>
